- title "Bastardi - Přidejte se mezi fanoušky stránky na facebooku"
- description "Přidejte se mezi mnoho našich fanoušků na facebooku a sledujte novinky, zákulisní informace a fotografie z natáčení přímo na vašem facebooku. Komentujte fotky a události a staňte se součástí Bastardů."
%div{:style => "text-align: center;"}
  %iframe{:src => "http://www.facebook.com/plugins/likebox.php?id=284020413170&amp;width=748&amp;connections=0&amp;stream=true&amp;header=false&amp;height=395&amp;colorscheme=dark", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:750px; height:400px;", :allowTransparency => "false"}