- title
!!! Strict
%html{:xmlns =>"http://www.w3.org/1999/xhtml", :"xml:lang" => "cs", :lang => "cs"}
  %head
    %title= yield_content :title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{:name => "description", :content => "Přijďte do kina na nový český film, který zobrazuje reálnou situaci v českém praktickém školství." }
    %meta{:content => "Martin Magnusek", :name => "author"}
    %link{:href => "styles/intro.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %meta{:content => "bE0_IsKyJOj19-c8rkwOjnyt_iyrSeijHJOvmc7IKN0", :name => "google-site-verification"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/flowplayer-3.2.3.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/intro.js", :type => "text/javascript"}
    %script{:src => "javascripts/application.js", :type => "text/javascript"}
  %body
    %h1{:style => "color:red; text-align: center;T"} Web Bastardi 3 bude spuštěn již za týden.
    #video
      %a#player{:href => "trailer2.mp4"}
      %a#skip_intro{:href => "o_filmu.html"} Bastardi
      %a#skip_intro{:href => "http://www.bastardi2.cz/web.html", :style => { :'margin-left:' =>  '20px;'}} Bastardi2
