- title "Bastardi - Informace o novém českém filmu"
- description "Film vychází z autorova dlouholetého působení v základním školství, kde čerpal inspiraci pro drsný příběh o dětech ze sociálně vyloučených lokalit. Film pojednává o brutální vraždě mladé praktikantky, kterou mají na svědomí právě tři chlapci z jedné základní školy."
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h1 Příběh z prostředí praktického školství. Bez povrchností, klišé a přetvářek.
.image
  .o_filmu
    %img{:src => "/o_filmu/o_filmu1.jpg"}
.image
  .o_filmu
    %img{:src => "/o_filmu/o_filmu2.jpg"}
%p Film vychází z autorova dlouholetého působení v základním školství, kde čerpal inspiraci pro drsný příběh o dětech ze sociálně vyloučených lokalit. Film pojednává o brutální vraždě mladé praktikantky, kterou mají na svědomí právě tři chlapci z jedné základní školy. Záhy zjišťujeme, že vymahatelnost práva u mladistvých pachatelů je téměř nulová, takže někdo musí vzít spravedlnost do svých rukou...