-title "Bastardi - Naši partneři"
-description "Děkujeme všem partnerům. Mezi nimi patří STEF recycling, Batist, Bronas, CDS, Tyros Loading Systems, Hašpl, Mary Kay, Nail tek, Kadeřnictví Butik U bílé vrány, Primátor, Potraviny Verner, Stavis a další."
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h2.partner_section Generální partner
.center
  %a{:href => "http://www.stefrecycling.cz", :target => "_blank"}
    %img{:src => "/sponzori/stef.png"}
%h2.partner_section Partneři
%br
.center
  %map{:name => "sponzori_links"}
    %area{:shape => "rect", :coords => "0,45,80,100", :href => "http://www.fajnrockmusic.cz/radio", :target => "_blank", :title => "Fajn Rock Music - Rádio Fajn Rock Music"}
    %area{:shape => "rect", :coords => "0,105,100,140", :href => "http://www.rockparada.cz", :target => "_blank", :title => "Fajn Rock Music - TV ROCKPARÁDA"}
    %area{:shape => "rect", :coords => "80,4,165,50", :href => "http://www.colorworks.me", :target => "_blank", :title => "Colorworks.me | interiérové a exteriérové malby"}
    %area{:shape => "rect", :coords => "110,60,160,135", :href => "http://www.palmovka-drubez.cz/", :target => "_blank", :title => "Drůbež Palmovka"}
    %area{:shape => "rect", :coords => "173,4,299,65", :href => "http://www.primator.cz", :target => "_blank", :title => "Primátor Náchod"}
    %area{:shape => "rect", :coords => "173,110,289,140", :href => "http://www.hsflamingo.cz", :target => "_blank", :title => "HS Flamingo - krby, kamna, vložky, kamnářské doplňky"}
    %area{:shape => "rect", :coords => "313,5,454,27", :href => "http://www.marykay.cz", :target => "_blank", :title => "Mary Kay - Kosmetika, světoznámý prodejce kosmetiky."}
    %area{:shape => "rect", :coords => "302,43,355,88", :href => "http://www.firmy.cz/detail/708954-diakonie-broumov-broumov-velka-ves.html", :target => "_blank", :title => "Diakonie Broumov"}
    %area{:shape => "rect", :coords => "458,2,671,26", :href => "http://www.cdsnachod.cz", :target => "_blank", :title => "CDS Náchod"}
    %area{:shape => "rect", :coords => "402,33,545,101", :href => "http://www.tyros-loading-systems.cz/cs/", :target => "_blank", :title => "Ivo Luňák - Tyros loading systems"}
    %area{:shape => "rect", :coords => "309,96,389,134", :href => "http://www.nail-tek.cz", :target => "_blank", :title => "Nail tek - best natural nail treatment"}
    %area{:shape => "rect", :coords => "562,32,707,62", :href => "http://www.bronas.cz", :target => "_blank", :title => "Bronas spol. s r.o."}
    %area{:shape => "rect", :coords => "567,65,688,102", :href => "http://www.haspl.cz", :target => "_blank", :title => "Hašpl a. s."}
    %area{:shape => "rect", :coords => "400,107,559,134", :href => "http://trendhair3000.webnode.cz", :target => "_blank", :title => "Kadeřnictví, Butik U bílé vrány"}
    %area{:shape => "rect", :coords => "584,112,759,137", :href => "http://www.batist.cz", :target => "_blank", :title => "Batist s. r. o."}
    %area{:shape => "rect", :coords => "706,48,784,105", :href => "http://www.firmy.cz/detail/230188-zepo-bohuslavice-bohuslavice.html", :target => "_blank", :title => "Zpracováváme produkty rostlinné výroby."}
    %area{:shape => "rect", :coords => "715,5,825,45", :href => "http://www.jaroslavcervinka.nove-mesto.cz", :target => "_blank", :title => "Natáčení různých aktivit a jejich následné zpracování."}    
    %area{:shape => "rect", :coords => "789,53,851,105", :href => "http://www.staviscs.cz", :target => "_blank", :title => "Ing. Luboš Hlaváček STavis"}
    %area{:shape => "rect", :coords => "835,3,936,52", :href => "http://www.poverner.cz", :target => "_blank", :title => "VERNER POTRAVINY s.r.o."}
    %area{:shape => "rect", :coords => "859,55,938,102", :href => "http://dennipe-h.cz/", :target => "_blank", :title => "Relaxační centrum dennipe-h"}
    %area{:shape => "rect", :coords => "770,111,935,138", :href => "http://www.blueberryapps.com/?locale=cs", :target => "_blank", :title => "Blueberry Apps: Vývoj Ruby on Rails aplikací"}
  %img{:src => "/sponzori/sponzori.png", :usemap => "#sponzori_links", :width => "945", :height => "145"}

%h2.partner_section Mediální partneři
%br
.center
  %a.partner{:href => "http://www.bravo.cz/", :target => "_blank"}
    %img{:src => "/sponzori/bravo.png", :alt => "Stránky oblíbeného časopisu BRAVO.", :style => "margin-bottom: 15px;"}
  %a.partner{:href => "http://crackers.cz", :target => "_blank"}
    %img{:src => "/sponzori/crackers.png", :alt => "Nezávislý hiphopový webzin.", :style => "margin-bottom: 15px;"}
  %a.partner{:href => "http://www.mafiarecords.cz", :target => "_blank"}
    %img{:src => "/sponzori/mafia.png", :alt => "Oficiální web společnosti Mafia Records."}
  %a.partner{:href => "http://www.fajnradio.cz", :target => "_blank"}
    %img{:src => "/sponzori/fajn.png", :alt => "Fajn rádio."}
  %a.partner{:href => "http://www.filmserver.cz", :target => "_blank"}
    %img{:src => "/sponzori/filmserver.png", :alt => "Film od začátku do konce - filmserver.cz", :style => "margin-bottom: 12px;"}
  %a.partner{:href => "http://www.prima-cool.cz", :target => "_blank"}
    %img{:src => "/sponzori/cool.png", :alt => "Prima Cool", :style => "margin-bottom: 15px;"}
  %a.partner{:href => "http://www.rengl.cz", :target => "_blank"}
    %img{:src => "/sponzori/rengl.png", :alt => "RENGL s.r.o. - výlep plakátů, plakátovací plochy"}
