-title "Bastardi – Výsledky rychlé soutěže o VIP lístky ze 22.9."
-description ""
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h2 Vyhodnocení soutěže z 22.9.

%p.smaller Ve středu jsme se vás na sociální síti Facebook ptali na celé jméno frontmana české kapely, který si zahrál ve snímku Bastardi roli učitele. Emailem nám došli místy překvapivé odpovědi, ta jediná správná je však <b>Tomáš Hájíček</b>.

%p.smaller Každý z pěti níže uvedených výherců obdrží dva lístky na slavnostní premiéru filmu v pražském kině Lucerna za <b>účasti herců a všech</b>, kteří se na snímku podíleli + vstup na afterparty. Premiéra se uskuteční dne 27.10.2010. Jména výherců:

%ul.center.winners
  %li Vojtěch Lukášek
  %li Daniela Fialová
  %li Pavel Bubeník
  %li Kuba Sejkora
  %li Ing. Petra Šafářová

%p.smaller Všem výhercům gratulujeme. Již za několik dní budete moci vyhrát další zajímavé ceny.