- title
- description
:javascript
  $(document).ready(function() {
    $("#aktuality_link").attr('href',"#aktuality");
    $("#soutez_vysledky_link").attr('href',"#soutez_vysledky");
    _typeface_js.renderDocument();
  });

%h2 Velká  soutěž o 140 lístků do vašeho kina
%p.small Soutěžte s filmem Bastardi 2 o volný lístek do kina ve vašem okrese. Stačí správně odpovědět na tři soutěžní otázky a vybrat okres, ve kterém chcete jít do kina. V každém okrese budou vylosování dva výherci, kteří obdrží volný lístek do kina.  Uzavírka odpovědí je v neděli 16.10.2010 ve 23:59. Pro více informací čtěte <a href="/pravidla.pdf">přesná pravidla soutěže.</a>

%form{:action => '/soutez/new', :method => 'post', :name => 'soutez', :id => 'soutez_form' }
  #credentials
    %input{:type => 'hidden', :name => '_method', :value => 'put'}
    %label{:for => 'answer_name'} Jméno a příjmení
    %input{:type => 'text', :name => 'answer[name]', :id => 'answer_name', :value => @answer.name}
    - if @answer.errors.has_key?(:name)
      %span.error Špatně vypleněné jméno
    %br
    %label{:for => 'answer_email'} Email
    %input{:type => 'text', :name => 'answer[email]', :id => 'answer_email', :value => @answer.email}
    - if @answer.errors.has_key?(:email)
      %span.error Špatně vypleněný email
  %label{:for => 'answer_district_id'} Vyberte okres ve kterém se chcete soutěžit ( Každý se může přihlásit jen do jednoho okresu ).
  %br
  %select{:name => 'answer[district_id]', :id => 'answer_dictrict_id'}
    - @districts.each do |district|
      %option{:value => district.id }= district.name
  %br
  %h3 Soutěžní otázky
  .question
    %h4 1. Jak se jmenuje slavná herečka, známá například z filmu s tebou mě baví svět, jež ve filmu hraje učitelku, kterou žáci nejvíce deptají.
    %ul{:class => "#{'error' if @answer.errors.has_key?(:question1)}"}
      %li
        %input{:type => 'radio', :id => 'answer_question1a', :name => 'answer[question1]', :value => 'a', :checked => checked?('a', @answer.question1)}
        %label{:for => 'answer_question1a'} a) Eva Čížkovská
      %li
        %input{:type => 'radio', :id => 'answer_question1b', :name => 'answer[question1]', :value => 'b', :checked => checked?('b',@answer.question1)}
        %label{:for => 'answer_question1b'} b) Jana Šulcová
      %li
        %input{:type => 'radio', :id => 'answer_question1c', :name => 'answer[question1]', :value => 'c', :checked => checked?('c',@answer.question1)}
        %label{:for => 'answer_question1c'} c) Blanka Bohdanová
  .question
    %h4 2. Která z hereček z filmu Bastardi oslavila letos 80. narozeniny?
    %ul{:class => "#{'error' if @answer.errors.has_key?(:question2)}"}
      %li
        %input{:type => 'radio', :id => 'answer_question2a', :name => 'answer[question2]', :value => 'a', :checked => checked?('a',@answer.question2)}
        %label{:for => 'answer_question2a'} a) Blanka Bohdanová
      %li
        %input{:type => 'radio', :id => 'answer_question2b', :name => 'answer[question2]', :value => 'b', :checked => checked?('b',@answer.question2)}
        %label{:for => 'answer_question2b'} b) Valentina Thielová
      %li
        %input{:type => 'radio', :id => 'answer_question2c', :name => 'answer[question2]', :value => 'c', :checked => checked?('c',@answer.question2)}
        %label{:for => 'answer_question2c'} c) Jaroslava Hanušová
  .question
    %h4 3. Ve filmu Bastardi zazní  i skladby známého slovenského rapera. O koho jde?
    %ul{:class => "#{'error' if @answer.errors.has_key?(:question3)}"}
      %li
        %input{:type => 'radio', :id => 'answer_question3a', :name => 'answer[question3]', :value => 'a', :checked => checked?('a',@answer.question3)}
        %label{:for => 'answer_question3a'} a) Orion
      %li
        %input{:type => 'radio', :id => 'answer_question3b', :name => 'answer[question3]', :value => 'b', :checked => checked?('b',@answer.question3)}
        %label{:for => 'answer_question3b'} b) Wich
      %li
        %input{:type => 'radio', :id => 'answer_question3c', :name => 'answer[question3]', :value => 'c', :checked => checked?('c',@answer.question3)}
        %label{:for => 'answer_question3c'} c) Rytmus
  %label &nbsp;
  %input{:type => 'submit', :id => 'submit', :value => 'Hlasovat'}
  
%a.smaller{:id => 'soutez_vysledky_link', :href => '/soutez_vysledky.html'} Výsledky rychlé facebook soutěže ze 22.9.
%br
%a.smaller{:id => 'aktuality_link', :href => '/aktuality.html'} Sledujte aktuality, soutěže a zákulisní informace filmu Bastardi na facebook