%h2.partner_section Generální partner
.center
  %a{:href => "http://www.stefrecycling.cz", :target => "_blank"}
    %img{:src => "sponzori/stef.png"}
%h2.partner_section Partneři
%br
.center
  %map{:name => "sponzori_links"}
    %area{:shape => "rect", :coords => "4,4,130,65", :href => "http://www.primator.cz", :target => "_blank", :title => "Primátor Náchod"}
    %area{:shape => "rect", :coords => "4,68,120,105", :href => "http://www.hsflamingo.cz", :target => "_blank", :title => "HS Flamingo - krby, kamna, vložky, kamnářské doplňky"}
    %area{:shape => "rect", :coords => "4,105,127,140", :href => "http://crackers.cz", :target => "_blank", :title => "Nezávislý hiphopový webzin"}
    %area{:shape => "rect", :coords => "142,5,285,27", :href => "http://www.marykay.cz", :target => "_blank", :title => "Mary Kay - Kosmetika, světoznámý prodejce kosmetiky."}
    %area{:shape => "rect", :coords => "133,43,186,88", :href => "http://www.firmy.cz/detail/708954-diakonie-broumov-broumov-velka-ves.html", :target => "_blank", :title => "Diakonie Broumov"}
    %area{:shape => "rect", :coords => "289,2,502,26", :href => "http://www.cdsnachod.cz", :target => "_blank", :title => "CDS Náchod"}
    %area{:shape => "rect", :coords => "233,33,376,101", :href => "http://www.tyros-loading-systems.cz/cs/", :target => "_blank", :title => "Ivo Luňák - Tyros loading systems"}
    %area{:shape => "rect", :coords => "140,96,220,134", :href => "http://www.nail-tek.cz", :target => "_blank", :title => "Nail tek - best natural nail treatment"}
    %area{:shape => "rect", :coords => "393,32,538,62", :href => "http://www.bronas.cz", :target => "_blank", :title => "Bronas spol. s r.o."}
    %area{:shape => "rect", :coords => "398,65,519,102", :href => "http://www.haspl.cz", :target => "_blank", :title => "Hašpl a. s."}
    %area{:shape => "rect", :coords => "231,107,390,134", :href => "http://trendhair3000.webnode.cz", :target => "_blank", :title => "Kadeřnictví, Butik U bílé vrány"}
    %area{:shape => "rect", :coords => "415,112,590,137", :href => "http://www.batist.cz", :target => "_blank", :title => "Batist s. r. o."}
    %area{:shape => "rect", :coords => "537,48,615,105", :href => "http://www.firmy.cz/detail/230188-zepo-bohuslavice-bohuslavice.html", :target => "_blank", :title => "Zpracováváme produkty rostlinné výroby."}
    %area{:shape => "rect", :coords => "629,53,682,105", :href => "http://www.staviscs.cz", :target => "_blank", :title => "Ing. Luboš Hlaváček STavis"}
    %area{:shape => "rect", :coords => "666,3,767,52", :href => "http://www.poverner.cz", :target => "_blank", :title => "VERNER POTRAVINY s.r.o."}
    %area{:shape => "rect", :coords => "689,55,769,102", :href => "http://dennipe-h.cz/", :target => "_blank", :title => "Relaxační centrum dennipe-h"}
    %area{:shape => "rect", :coords => "601,111,766,138", :href => "http://www.blueberryapps.com/?locale=cs", :target => "_blank", :title => "Blueberry Apps: Vývoj Ruby on Rails aplikací"}
  %img{:src => "sponzori/sponzori.png", :usemap => "#sponzori_links", :width => "776", :height => "145"}

%h2.partner_section Mediální partneři
%br
.center
  %a.partner{:href => "http://www.bravo.cz/", :target => "_blank"}
    %img{:src => "sponzori/bravo.png", :alt => "Stránky oblíbeného časopisu BRAVO.", :style => "margin-bottom: 15px;"}
  %a.partner{:href => "http://www.mafiarecords.cz", :target => "_blank"}
    %img{:src => "sponzori/mafia.png", :alt => "Oficiální web společnosti Mafia Records."}
  %a.partner{:href => "http://www.fajnradio.cz", :target => "_blank"}
    %img{:src => "sponzori/fajn.png", :alt => "Fajn rádio."}
  %a.partner{:href => "http://www.filmserver.cz", :target => "_blank"}
    %img{:src => "sponzori/filmserver.png", :alt => "Film od začátku do konce - filmserver.cz"}