@import "reset.css";

body{
  text-align: center;
  width: 520px;
  margin: 0 auto;
  background-color: black;
  font-family: Helvetica,Arial, sans-serif;
}
a{
  padding-top: 10px;
  color: grey;
}
a:hover{
  text-decoration: none;
}
#video{
  width: 100%;
}
p{
  color: white;
}
h2{
  color: white;
  font-size: 14pt;
}